<!-- Displays the info of a specific user  -->
<h1> User Info </h1>
<%= flash[:error] %>
<%= flash[:success] %>
<br />
<!-- Displays user info  -->
<%= "#{@user[:fname].capitalize} #{@user[:lname].capitalize}" %>
<br />
Email: <%= "#{@user[:email]}" %>

<!-- Creates a button to delete user info  -->
<form action="/users/<%= @user[:id] %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete User">
</form>

<!-- Creates a link to edit user info  -->
<a href="/users/<%= @user[:id] %>/edit">Edit User Info</a>
<br />

<form action="/users/logout" method="POST">
  <input type="submit" value="Log out"/>
</form>
