<form action="<%= action %>" method="post">
  <% if locals[:edit_form] %>
    <input type="hidden" name="_method" value="patch">
  <% end %>

  <!-- Validation error messages-->
  <% if flash[:error] %>
   <% flash[:error].each do |attribute, error| %>
    <% if attribute == [:fname, :lname] %>
      <% attribute = "First name and last name" %> 
    <% end %>
    <li><%= "#{attribute.capitalize} #{error.first}." %></li>
    <% end %>
  <% end %>

  <br />
  
  <p>
    First name:
    <br />
    <input type="text" name="fname" value="<%= @user && @user[:fname] %>" >
    <br />
  </p>

  <p>
    Last name:
    <br />
    <input type="text" name="lname" value="<%= @user && @user[:lname] %>" >
    <br />
  </p>

  <p>
    Email:
    <br />
    <input type="text" name="email" value="<%= @user && @user[:email] %>" >
    <br />
  </p>

  <p>
    Username:
    <br />
    <input type="text" name="username" value="<%= @user && @user[:username] %>" >
    <br />
  </p>
 
  <p>
    Password:
    <br />
    <input type="password" name="password" >
    <br />
  </p>

  <!-- Creating a button to update/edit info -->
  <% submit_value = locals[:edit_form] ? "Update User" : "Create New User" %>
  <input type="submit" value="<%= submit_value %>">
</form>
